.wrapper {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 250px;
}

.poster {
  margin-bottom: -4px;
  border-radius: 5px 5px 0 0;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 7.5px 0;
}

.star {
  height: 24px;
  width: 24px;
}

.filled svg {
  height: 24px;
  width: 24px;
  fill: #fff;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 250px;
  padding: 13px;
  border-radius: 5px;
  background: #313134;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #C5C5C5;
}

.link {
  color: #f0f0f0;
}

.content {
  max-width: 790px;
  width: -webkit-fill-available;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
}

.average {
  display: flex;
  gap: 2px;
  align-items: center;
}

.icon {
  display: block;
  height: 18px;
  width: 18px;
}

.tabs {
  margin-top: 7px;
  padding: 11px 13px;
  border-radius: 5px;
  background: #313134;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu {
  display: flex;
  gap: 15px;
  padding: 9px 0;
  line-height: 21px;
  margin-bottom: 7px;
  color: #C5C5C5;
  border-bottom: solid 1px #c5c5c5;
}

.active {
  color: #fff;
}

.desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #F0F0F0;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin: 10px 0 15px;
}

.genre {
  font-size: 13px;
  line-height: 19px;
  border-radius: 3px;
  padding: 0 14px;
  height: 24px;
  color: #F0F0F0;
  border: 0.75px solid #52525C;
  transition: all ease-in .1s;
}

.genre:hover {
  background: rgba(217, 217, 217, 0.25);
}

.ratings {
  display: flex;
  width: 100%;
  gap: 30px;
}

.rating {
  width: 50%;
}

.heading {
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  padding: 0 14px;
  background: #404040;
  border-radius: 3px;
}

.table {
  display: table;
  margin: 7px 0;
  width: 100%;
  border-spacing: 0 2px;
}

.row {
  display: table-row;
  vertical-align: middle;
}

.row > * {
  display: table-cell;
  padding: 0 0.5rem;
}

.status {
  font-size: 15px;
  padding-left: 0;
  text-transform: capitalize;
}

.bar {
  display: block;
  padding: 0;
  height: 8px;
  min-width: 193px;
  background: #D9D9D9;
  border-radius: 50px;
}

.result {
  display: block;
  height: 8px;
  background: #696969;
  border-radius: 50px;
}

.percentage {
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: #F0F0F0;
}

.count {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #C5C5C5;
}

.episodes {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin: 10px 0 15px;
}

.episode {
  display: inline-block;
  padding: 0 14px;
  font-size: 13px;
  line-height: 25px;
  background: #8D8D8D;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .wrapper {
    display: block;
  }
  .image {
    width: 100%;
    display: flex;
    padding: 55px 0 20px 0;
    justify-content: center;
  }
  .poster {
    margin: 0;
    border-radius: 5px;
  }
  .content {
    border-radius: 5px;
    padding: 5px 10px;
    background: #313134;
  }
  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
  .add {
    margin: 0 auto;
    display: flex;
    gap: 44px;
    align-items: center;
    justify-content: center;
  }
  .year {
    font-size: 14px;
    line-height: 19px;
    color: #C5C5C5;
  }
  .info {
    gap: 4px;
    width: 100%;
    padding: 0;
    border-radius: 0;
    background: none;
    box-shadow: none;
  }
  .item {
    font-size: 14px;
    line-height: 19px;
  }
  .desc {
    margin-top: 6px;
    font-size: 14px;
    line-height: 19px;
  }
  .genres {
    margin: 10px 0;
  }
  .genre {
    font-size: 12px;
    padding: 0 11px;
  }
  .rating {
    width: 100%;
  }
}