.card {
  flex: 1 0 135px;
  max-width: 200px;
  min-width: 135px;
}

.wrapper {
  aspect-ratio: auto 150/215;
}

.poster {
  border-radius: 5px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin-top: -4px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
}

.type {
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
}

.year {
  font-size: 13px;
  line-height: 17px;
  color: #A8A8A8;
}