.wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.main {
  width: 790px;
  border-radius: 5px;
  padding: 20px 15px;
  background: #313134;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list {
  display: flex;
  gap: 21px;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  grid-gap: 21px;
  margin: 15px 0;
}

.filter {
  height: fit-content;
  width: 250px;
  border-radius: 5px;
  padding: 20px 15px;
  background: #313134;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heading {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  padding: 0 11px;
  background: #404040;
  border-radius: 3px;
}

.item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin: 3px 0;
}

.item>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.item>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.item>span::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1.5px solid #c5c5c5;
  border-radius: 3px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 8px 6px;
}

.item>input:checked+span::before {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.01098 0.426563C9.38523 0.800816 9.38523 1.4076 9.01098 1.78185L4.21931 6.57352C3.84506 6.94777 3.23828 6.94777 2.86402 6.57352L0.468189 4.17769C0.0939369 3.80343 0.0939369 3.19665 0.468189 2.8224C0.842442 2.44814 1.44922 2.44814 1.82348 2.8224L3.54167 4.54059L7.65569 0.426563C8.02994 0.0523109 8.63673 0.0523109 9.01098 0.426563Z' fill='%23C5C5C5'/%3E%3C/svg%3E%0A");
}

@media (max-width: 767px) {
  .wrapper {
    display: block;
  }
  .main {
    width: 100%;
  }
}