.header {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  padding: 10px 0;
  background: #34343480;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 29px;
  font-weight: 900;
  line-height: 30px;
}

.menu {
  display: flex;
  gap: 58px;
}

.link {
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
}

.login {
  font-size: 14px;
  line-height: 30px;
}

.register {
  display: inline-block;
  text-align: center;
  width: 85px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 5px;
  margin-left: 13px;
  background: #585E92;
}

.search {
  height: 30px;
  display: flex;
  align-items: center;
  background: #D9D9D9;
  border-radius: 5px;

}

.input {
  height: 30px;
  width: 355px;
  padding: 0 7px;
  color: #343434;
}

.button {
  width: 30px;
  height: 30px;
}

.results {
  position: absolute;
  margin-top: 15px;
  overflow: auto;
  overflow-x: hidden;
  max-height: 500px;
  border-radius: 5px;
  width: 385px;
  z-index: 1;
}

.results::-webkit-scrollbar {
  width: 10px;
}

.results::-webkit-scrollbar-track {
  background: #313134;
}

.results::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 10px;
}

.result {
  display: flex;
  background: #c0c0c0;
  width: 385px;
  padding: 5px;
  gap: 10px;
  border-bottom: 1px solid #888888;
}

.poster {
  width: 75px;
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.search {
  padding: 0;
}

.genres {
  display: flex;
  gap: 4px;
}

.title {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: #000;
}

.type, .year, .status, .genre {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #000;
}

.add, .genres {
  display: flex;
  gap: 10px;
}

.account {
  height: 24px;
  width: 24px;
  display: block;
}