.wrapper {
  border-radius: 5px;
  background: #313134;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  background: #404040;
  border-radius: 5px;
}

.name {
  font-weight: 600;
  margin: 0 auto;
  font-size: 13px;
  background: #CBCBCB;
  border-radius: 0px 0px 5px 5px;
  line-height: 22px;
  width: fit-content;
  padding: 0 15px;
  color: #575757;
}

.player {
  margin: 30px 0;
  border-radius: 5px;
  height: 450px;
  width: 800px;  
}

.inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-weight: 600;
  font-size: 17px;
  line-height: 35px;
  background: #939393;
  border-radius: 5px;
  padding: 0px 25px;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button:first-child {
  margin-right: auto;
}

.button:last-child {
  margin-left: auto;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 0 15px;
  }
  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    background: #404040;
    border-radius: 5px;
  }
  .name {
    font-weight: 600;
    margin: 0 auto;
    font-size: 13px;
    background: #CBCBCB;
    border-radius: 0px 0px 5px 5px;
    line-height: 22px;
    width: fit-content;
    padding: 0 15px;
    color: #575757;
  }
  .player {
    border-radius: 5px;
    height: 200px;
    width: 100%;  
  }
  .button {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    background: #939393;
    border-radius: 5px;
    padding: 0 15px;
  }
}